fastapi>=0.115.4
uvicorn[standard]>=0.30.0
python-multipart>=0.0.22
pdfplumber>=0.11.0
numpy>=1.22.0
pandas>=2.0.0
scikit-learn>=1.5.1
xgboost>=2.1.1
lightgbm>=4.5.9
joblib>=1.4.2
aiofiles>=24.1.0
pydantic>=2.7.4
apscheduler>=3.10.4
python-dotenv>=1.0.1
requests>=2.32.4
firebase-admin
pyjwt>=2.12.0
pymongo[srv]
pdfminer.six>=20240506